.home
{
    font-size:20px;
    color:black;
    
    background-color:aliceblue;
    
    
    
}

.h
{
  margin-top:0cm;
font-size:20px;
font-family:'fantasy';
color:black;
text-align:left;
background-color:#C2A585;}

.p
{
  margin:10%;
  text-align: center;
  
  position:absolute;
  left:5cm;
  margin-top:1cm;
  
}
.about

{
  
  margin-top:5.2cm;
  position: relative;
  top:-5cm;
  right:0cm;
 background-color:rgb(138,121,93);
 color:white;





 color: 
  
}
.sam{
  width:15cm;
  height:10cm;
  position:relative;
  left:15cm;
  top:-4cm;

}
.logo
{
  width:250px;
  height:5cm;



}
.t
{
   font-family:'sans-serif';
  margin-top:7cm;
  height:20cm;
  width:100%;
  
  
  
  background-image:pink;
  background-position: -1cm 2cm;
  position:absolute;
  left:0cm;
  top:2cm;
    
  
   


  
  
  
}
.na
{
  height:30px;
  width:5px;
  margin-top:5cm;
  position: relative;
  top:8px;
  right:7cm;
  
  
  

}

.navbar
{
  margin:10%;
  text-align: center;
  
  position:absolute;
  left:7cm;
  margin-top:0.7cm;
  
  
}
.s
{
  margin:0%;
  
  position:absolute;
  left:2cm;
  margin-top:0.7cm;
  
}

.l{


  height:30px;
  width:5px;
  margin-top:5cm;
  position: relative;
  top:2cm;
  right:4cm;
  
  
  

}
.contact
{
  position:relative;
  top:3cm;
  height:5cm;
  width:3cm;
  right:2.5cm;
}
.c1{

  position:relative;
  top:8cm;
  height:5cm;
  width:3cm;
  right:2.5cm;
}

.sher{
  margin:10%;
  text-align: center;
  
  position:absolute;
  left:20cm;
  margin-top:-0.5cm;
  
  
}
   .c2,.c2,.c3
  {
    
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
  border-radius:50px;
  background-color:whitesmoke;
  }
img
{
  border-radius: 20px;
  width:200px;
  height:5cm;

  top:8cm;

}

.b {
  margin:10%;
  text-align: center;
  
  position:absolute;
  left:19cm;
  margin-top:1cm;
  
}
  .x
  {
    color:white;
    font-family: fantasy;
  } 
