.home
{
    font-size:100px;
    color:red;
    text-align:right;

}
.nav
{
     background-color: black;
     font-size:10px;
     color:white;

}
.Navlink
{
     font-size:20px;

}

.Navmenu
{
    color:pink;
} 


 

